/* Color - using material design colors
refer to: http://www.google.com/design/spec/style/color.html#color-color-palette
light blue 50 #E1F5FE
light blue 200 #81D4FA
light blue 500 #01579B - accent
brown 100 #D7CCC8
brown 500 #795548 - accent
*/
.jumbotron { background-image: url(../images/ajeymainimage.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 600px;
padding: 15px 0;
}
.light-blue-text { color: #01579B;
background-color: rgba(225, 245, 254, .5);

position: absolute; 
padding-right: 20px; 
padding-left: 20px;
}
.hoverbrown:hover {border: 3px solid #795548; 
}
.hoverred:hover {border: 3px solid red;

}
.hoverorange:hover {border: 3px solid orange;

}
.hoveryellow:hover {border: 3px solid yellow;

}
.hovergreen:hover {border: 3px solid green;

}
.hoverblue:hover {border: 3px solid blue;

}
.hoverpurple:hover {border: 3px solid purple;

}
.progress-bar-custom { background-color: #81D4FA;

}